<header class="header header-desktop">
  <div class="container">
    <div class="header-logo">
      <a href="index.html"
        ><img src="../assets/images/logo.svg" alt="Createx Logo"
      /></a>
    </div>

    <nav class="header-navigation">
      <ul>
        <li><a class="header-link" href="#about">About Us</a></li>
        <li><a class="header-link" href="#courses">Courses</a></li>
        <li><a class="header-link" href="#events">Events</a></li>
        <li><a class="header-link" href="#blog">Blog</a></li>
        <li><a class="header-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <div class="header-buttons">
      <button class="button-basic-large">Get consultation</button>

      <div class="header-user">
        <svg>
          <use href="../assets/icons/sprite.svg#Profile"></use>
        </svg>

        <button type="button">Log in</button>
        <span>/</span>
        <button type="button">Register</button>
      </div>
    </div>
  </div>
</header>
