/*Keyframes*/
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.4;
  }

  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*Buttons basic*/
.button-basic-large {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 211px;
  min-height: 52px;
  padding: 0 40px;
  border-radius: 4px;
  font-size: var(--base-bold-size);
  font-weight: var(--base-bold-weight);
  background: var(--btn-gradient);
  color: var(--white);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.button-basic-large span {
  position: relative;
  font-weight: 700;
  top: -2px;
}

.button-basic-large svg {
  position: relative;
  top: -2px;
  width: 23px;
  height: 27px;
  fill: var(--white);
}

.button-basic-large:hover {
  background-position: 100% 0;
}

.button-basic-regular {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: 190px;
  min-height: 44px;
  padding: 0 32px;
  border-radius: 4px;
  font-size: var(--small-bold-size);
  font-weight: var(--small-bold-weight);
  background: var(--btn-gradient);
  color: var(--white);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.button-basic-regular span {
  position: relative;
  top: -2px;
}

.button-basic-regular svg {
  position: relative;
  top: 0px;
  width: 19px;
  height: 18px;
  fill: var(--white);
}

.button-basic-regular:hover {
  background-size: 100% 0;
}

.button-basic-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: 147px;
  min-height: 36px;
  padding: 0 24px;
  border-radius: 4px;
  font-size: var(--extrasmall-bold-size);
  font-weight: var(--extrasmall-bold-weight);
  background: var(--btn-gradient);
  color: var(--white);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.button-basic-small span {
  position: relative;
  top: -1px;
}

.button-basic-small svg {
  position: relative;
  top: -1px;
  width: 16px;
  height: 12px;
  fill: var(--white);
}

.button-basic-small:hover {
  background-size: 100% 0;
}

.button-basic-outline-large {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  max-width: 211px;
  min-height: 52px;
  padding: 0 40px;
  border-radius: 4px;
  background: var(--btn-outline-gradient-background);
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.button-basic-outline-large span {
  font-size: var(--base-bold-size);
  font-weight: var(--base-bold-weight);
  background: var(--btn-outline-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-basic-outline-large svg {
  position: relative;
  top: -2px;
  width: 23px;
  height: 27px;
  fill: #f75e05;
}

.button-basic-outline-large:hover {
  background: var(--btn-outline-gradient-background-hover);
}

.button-basic-outline-large:hover span,
.button-basic-outline-large:hover svg {
  -webkit-text-fill-color: #fff;
  background: none;
}

.button-basic-outline-large:hover svg {
  fill: var(--white);
}

.button-basic-outline-regular {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  max-width: 190px;
  min-height: 44px;
  padding: 0 32px;
  border-radius: 4px;
  background: var(--btn-outline-gradient-background);
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.button-basic-outline-regular span {
  font-size: var(--small-bold-size);
  font-weight: var(--small-bold-weight);
  background: var(--btn-outline-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -2px;
}

.button-basic-outline-regular svg {
  position: relative;
  top: -1px;
  width: 19px;
  height: 18px;
  fill: #f75e05;
}

.button-basic-outline-regular:hover {
  background: var(--btn-outline-gradient-background-hover);
}

.button-basic-outline-regular:hover span,
.button-basic-outline-regular:hover svg {
  -webkit-text-fill-color: #fff;
  background: none;
}

.button-basic-outline-regular:hover svg {
  fill: var(--white);
}

.button-basic-outline-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  position: relative;
  max-width: 147px;
  min-height: 36px;
  padding: 0 24px;
  border-radius: 4px;
  background: var(--btn-outline-gradient-background);
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.button-basic-outline-small span {
  font-size: var(--extrasmall-bold-size);
  font-weight: var(--extrasmall-bold-weight);
  background: var(--btn-outline-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -1px;
}

.button-basic-outline-small svg {
  position: relative;
  top: -1px;
  width: 16px;
  height: 12px;
  fill: #f75e05;
}

.button-basic-outline-small:hover {
  background: var(--btn-outline-gradient-background-hover);
}

.button-basic-outline-small:hover span,
.button-basic-outline-small:hover svg {
  -webkit-text-fill-color: #fff;
  background: none;
}

.button-basic-outline-small:hover svg {
  fill: var(--white);
}

.button-basic-small:disabled,
.button-basic-regular:disabled,
.button-basic-large:disabled,
.button-basic-outline-small:disabled,
.button-basic-outline-regular:disabled,
.button-basic-outline-large:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.button-play-small {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.button-play-small svg {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}

.button-play-small span {
  font-size: var(--small-bold-size);
  line-height: var(--small-bold-line-height);
  font-weight: var(--small-bold-weight);
  color: var(--gray-900);
  white-space: nowrap;
}

.button-play-small::before {
  content: "";
  width: 84px;
  height: 84px;
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translate(-50%, -50%);
  background: var(--primary);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}

.button-play-small:hover::before {
  animation: pulse 1.8s ease-out infinite;
}

.button-play-large {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.button-play-large svg {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.button-play-large span {
  white-space: nowrap;
}

.button-play-large::before {
  content: "";
  width: 112px;
  height: 112px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
  background: var(--primary);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}

.button-play-large:hover::before {
  animation: pulse 1.8s ease-out infinite;
}

.card-cource {
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow-gray-small);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card-cource:hover {
  box-shadow: var(--shadow-gray-regular);
}

.card-horizontal {
  display: flex;
  align-items: center;
  align-items: stretch;
}

.card-cource > .card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  gap: 20px;
  padding: 30px;
  border: 1px solid var(--gray-300);
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.card-cource > .card-content > .card-tag {
  width: max-content;
  border-radius: 4px;
  padding: 13px 8px;
  font-size: 14px;
  line-height: 0;
  color: var(--white);
}

.card-cource > .card-content > .card-title {
  font-size: var(--lead-bold-size);
  line-height: var(--lead-bold-line-height);
  font-weight: var(--lead-bold-weight);
  color: var(--gray-900);
}

.card-cource > .card-content > .card-footer {
  gap: 8px;
  font-size: var(--large-bold-size);
  line-height: var(--large-bold-line-height);
  font-weight: var(--large-regular-weight);
  color: var(--gray-700);
}

.card-cource > .card-content > .card-footer > .card-price {
  font-weight: var(--large-bold-weight);
  color: var(--danger);
}

.card-cource > .card-content > .card-footer > .card-devider {
  position: relative;
  top: -2px;
}

.card-cource > .card-image {
  max-width: 214px;
  width: 100%;
}

.card-cource > .card-image img {
  height: 100%;
}

.tag-green {
  background-color: var(--success);
}

.tag-blue {
  background-color: var(--info);
}

.tag-orange {
  background-color: var(--warning);
}

.tag-pink {
  background-color: var(--pink);
}

.event-card {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 40px;
  padding: 30px 40px;
  background: var(--white);
  overflow: hidden;
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
}

.event-card-date {
  display: flex;
  align-items: center;
  gap: 20px;
}

.event-card-date-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-card-day {
  font-size: var(--display-4-size);
  font-weight: 900;
  line-height: var(--display-4-line-height);
  color: var(--primary);
}

.event-card-month,
.event-card-title {
  font-size: var(--lead-bold-size);
  font-weight: var(--lead-bold-weight);
  line-height: var(--lead-bold-line-height);
  color: var(--gray-900);
}

.event-card-hours,
.event-card-subtitle {
  font-size: var(--base-regular-size);
  line-height: var(--base-regular-line-height);
  font-weight: var(--base-regular-weight);
  color: var(--gray-700);
}

.event-card-hours {
  min-width: 100px;
}

.event-card-description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.event-card-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(12px);
  transition: max-height 0.3s ease, opacity 0.4s ease, transform 0.4s ease;
}

.event-card-text.active {
  max-height: 500px; /* достаточно большое значение */
  opacity: 1;
  transform: translateY(0);
}

.event-card-button {
  min-width: max-content;
  width: 100%;
  min-height: 44px;
  padding: 0 28px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.team-card-image::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.team-card-image {
  max-width: 285px;
  width: 100%;
  min-height: 340px;
  position: relative;
  background: var(--secondary) url("../assets/images/team-1.png") no-repeat
    bottom center / 245px;
  overflow: hidden;
  margin-bottom: 15px;
}

.team-card-socials {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 14px;
  opacity: 0;
}

.team-card-socials a svg {
  width: 20px;
  height: 20px;
  fill: var(--gray-500);
  transition: fill 0.3s ease;
}

.team-card-socials a svg:hover {
  fill: var(--white);
}

.team-card:hover .team-card-image::before,
.team-card:hover .team-card-socials {
  opacity: 1;
}

.team-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.team-card-name {
  font-size: var(--lead-bold-size);
  line-height: var(--lead-bold-line-height);
  font-weight: var(--lead-bold-weight);
  color: var(--gray-800);
}

.team-card-role {
  font-size: var(--base-regular-size);
  line-height: var(--base-regular-line-height);
  font-weight: var(--base-regular-weight);
  color: var(--gray-700);
}

.team-slider-next,
.team-slider-prev,
.testimonials-slider-prev,
.testimonials-slider-next {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.team-slider-next svg,
.team-slider-prev svg,
.testimonials-slider-prev svg,
.testimonials-slider-next svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  fill: var(--gray-800);
  transition: fill 0.3s ease;
}

.team-slider-next:hover,
.team-slider-prev:hover,
.testimonials-slider-prev:hover,
.testimonials-slider-next:hover {
  background-color: var(--primary);
}

.team-slider-next:hover.team-slider-next svg,
.team-slider-prev:hover.team-slider-prev svg,
.testimonials-slider-prev:hover.testimonials-slider-prev svg,
.testimonials-slider-next:hover.testimonials-slider-next {
  fill: var(--white);
}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
  transition: opacity 0.3s ease;
}

.team-slider-next.swiper-button-disabled:hover.team-slider-next,
.team-slider-prev.swiper-button-disabled:hover.team-slider-prev,
.testimonials-slider-prev.swiper-button-disabled:hover.testimonials-slider-prev,
.testimonials-slider-next.swiper-button-disabled:hover.testimonials-slider-next {
  background-color: unset;
}

.team-slider-next.swiper-button-disabled:hover.team-slider-next svg,
.team-slider-prev.swiper-button-disabled:hover.team-slider-prev svg,
.testimonials-slider-next.swiper-button-disabled:hover.testimonials-slider-next
  svg,
.testimonials-slider-prev.swiper-button-disabled:hover.testimonials-slider-prev
  svg {
  fill: var(--gray-800);
}

.testimonials-card {
  max-width: 1020px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  padding: 60px 150px;
  background-color: var(--white);
  box-shadow: var(--shadow-gray-small);
  margin-bottom: 35px;
}

.testimonials-card-braces {
  flex-shrink: 0;
}

.testimonials-card-braces svg {
  width: 50px;
  height: 20px;
  fill: var(--primary);
}

.testimonials-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials-card-text {
  font-size: var(--lead-regular-size);
  line-height: var(--lead-regular-line-height);
  font-weight: var(--lead-regular-weight);
  color: var(--gray-800);
}

.testimonials-card-author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonials-card-name {
  font-size: var(--base-bold-size);
  line-height: var(--base-bold-line-height);
  font-weight: var(--base-bold-weight);
  color: var(--gray-900);
  margin-bottom: 3px;
}

.testimonials-card-cource {
  font-size: var(--small-regular-size);
  line-height: var(--small-regular-line-height);
  font-weight: var(--small-regular-weight);
  color: var(--gray-700);
}

.testimonials-slider {
  position: relative;
  padding-bottom: 48px;
}

.testimonials-slider .swiper-wrapper {
  align-items: stretch;
}

.testimonials-slider-prev,
.testimonials-slider-next {
  position: absolute;
  top: 170px; /* визуальный центр дизайна */
  transform: none;
  z-index: 10;
}

.testimonials-slider-prev {
  left: 0;
}

.testimonials-slider-next {
  right: 0;
}

.testimonials-pagination {
  position: absolute;
  bottom: 0px !important;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.testimonials-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 3px;
}

.testimonials-pagination .swiper-pagination-bullet-active {
  background-color: var(--gray-800);
}

.blog-cards {
  display: flex;
  gap: 30px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 390px;
  width: 100%;
}

.blog-card-image {
  position: relative;
}

.block-card-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  padding: 1px 6px;
  background: var(--white);
  border-radius: 4px;
  font-size: var(--small-regular-size);
  line-height: var(--small-regular-line-height);
  font-weight: var(--small-regular-weight);
  color: var(--gray-800);
}

.block-card-tag svg {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: var(--gray-800);
}

.blog-card-image img {
  max-width: 100%;
  width: 100%;
}

.blog-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-card-info {
  display: flex;
  gap: 12px;
}

.blog-card-info span {
  font-size: var(--small-regular-size);
  line-height: var(--small-regular-line-height);
  font-weight: var(--small-regular-weight);
  color: var(--gray-700);
}

.blog-card-info span:first-child {
  font-size: var(--small-bold-size);
  line-height: var(--small-bold-line-height);
  font-weight: var(--small-bold-weight);
}

.blog-card-info span > svg {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  fill: var(--gray-700);
}

.blog-card-title {
  font-size: var(--lead-bold-size);
  line-height: var(--lead-bold-line-height);
  font-weight: var(--lead-bold-weight);
  color: var(--gray-900);
}

.blog-card-text {
  font-size: var(--base-regular-size);
  line-height: var(--base-regular-line-height);
  font-weight: var(--base-regular-weight);
  color: var(--gray-800);
}

.blog-card-link {
  max-width: max-content;
  display: inline-block;
  font-size: var(--base-bold-size);
  line-height: var(--base-bold-line-height);
  font-weight: var(--base-bold-weight);
  color: var(--gray-900);
  transition: color 0.3s ease;
}

.blog-card-link:hover {
  color: var(--primary);
}

.blog-card-link svg {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: var(--primary);
}
